      <footer>
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
          <div class="container" >

<div class="links"> <!-- socials -->
              <a href="https://github.com/ymoha3/Project1WebnSc/commits/main/" class="mx-2"> <i class="fa-brands fa-lg fa-github"></i></a> <!-- github -->
              <a href="https://www.linkedin.com/in/yusuf-mohamed-481612362/" class="mx-2"><i class="fa-brands fa-lg fa-linkedin"></i></a> <!-- Yusuf M linkedin -->
              <a href="/aboutme" class="mx-2"><i class="fa-brands fa-lg fa-linkedin"></i></a> <!-- Justyn U has no LinkedIn, please read About Us page -->
              <a href="https://www.linkedin.com/in/adeel-mohammad-113472226/" class="mx-2"><i class="fa-brands fa-lg fa-linkedin"></i></a> <!-- Adeel M linkedin -->
              <h6 class="navbar-text">&copy; Copyright 2025. All rights reserved. </h6>
        </nav>
      </footer>
    </div>
  </body>
</html>
