 <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">INFR3120</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <% if(title === 'Home'){ %>
            <a class="nav-link active" aria-current= "page" href="/home"><i class="fa-solid fa-lg fa-house"></i> Home</a>
            <% } else { %>
            <a class="nav-link" aria-current= "page" href="/home"><i class="fa-solid fa-lg fa-house"></i> Home</a>
            <% } %>
          </li>


          <li class="nav-item">
            <% if(title === 'Diary Entries'){ %>
            <a class="nav-link active" aria-current= "page" href="/Entries"><i class="fa-solid fa-bookmark"></i> Entries</a>
            <% } else { %>
            <a class="nav-link" aria-current= "page" href="/Entries"><i class="fa-solid fa-bookmark"></i> Entries</a>
            <% } %>
          </li>

          <li class="nav-item">
            <% if(title === 'New Entry'){ %>
            <a class="nav-link active" aria-current= "page" href="/Entries/add"><i class="fa-solid fa-arrow-up-right-from-square"></i> New Entry</a>
            <% } else { %>
            <a class="nav-link" aria-current= "page" href="/Entries/add"><i class="fa-solid fa-arrow-up-right-from-square"></i> New Entry</a>
            <% } %>
          </li>

          <li class="nav-item">
            <% if(title === 'About MemoryQuill'){ %>
            <a class="nav-link active" aria-current= "page" href="/aboutme"><i class="fa-solid fa-lg fa-circle-info"></i> About MemoryQuill</a>
            <% } else { %>
            <a class="nav-link" aria-current= "page" href="/aboutme"><i class="fa-solid fa-lg fa-circle-info"></i> About MemoryQuill</a>
            <% } %>
          </li>
          
          </li>
        </ul>
      </div>
    </nav>