<%- include('./partials/header.ejs') %>
<%- include('./partials/main_nav.ejs') %>

<div class="container my-5">

    <!-- Logo  -->
    <div class="text-center mb-4">
        <img src="/asset/assets/images/logo.jpg"
             alt="MemoryQuill Logo"
             width="200"
             height="200"
             class="rounded-circle shadow-sm">
    </div>

    <!-- Company Info -->
    <div class="text-center mb-5">
        <h1 class="text-body-emphasis">About MemoryQuill</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted mt-3">
            MemoryQuill is a simple, private digital diary service built to help create, read, update and delete any entries. Capture moments, thoughts,
            and ideas with ease. Designed to be easy to use, MemoryQuill keeps your entries
            organized and secure granting you full freedom to manipulate your database to your own liking.
    </div>

    <!-- Team Member Cards -->
    <div class="row">

        <!-- Member 1 -->
        <div class="col-md-4 mb-4">
            <div class="p-4 text-center bg-body-tertiary rounded-3 h-100 shadow-sm">
                <h3 class="text-body-emphasis">Yusuf Mohamed</h3>
                <p class="text-muted mt-2">
                    <!-- Intro Para  -->
                    "Hello! My name is Yusuf Mohamed. I am a current student at Ontario Tech University. I have lived in Brampton for most of my life, but am currently staying on dorms here on campus. My favorite things to do are draw, write and occasionally play video games. However, my favorite hobby of them all is boxing. " 
                </p>
            </div>
        </div>

        <!-- Member 2 -->
        <div class="col-md-4 mb-4">
            <div class="p-4 text-center bg-body-tertiary rounded-3 h-100 shadow-sm">
                <h3 class="text-body-emphasis">Justyn Umrah</h3>
                <p class="text-muted mt-2">
                    <!-- Intro Para -->
                    "Hi there! My name is Justyn Umrah, and I’m a current student at Ontario Tech University. I reside in Durham, Ontario, and I’m passionate about solving real-world coding problems through hands-on experimentation and collaboration. Outside of technology, I enjoy going to the gym, playing basketball, playing video games, and playing the piano in my spare time. Otherwise, I am a homebody and like to relax and enjoy life to the fullest."
                </p>
            </div>
        </div>

        <!-- Member 3 -->
        <div class="col-md-4 mb-4">
            <div class="p-4 text-center bg-body-tertiary rounded-3 h-100 shadow-sm">
                <h3 class="text-body-emphasis">Adeel Mohammad</h3>
                <p class="text-muted mt-2">
                    <!-- Intro Para -->
                    "What’s up guys! My name is Adeel Mohammad, I am a second year student at Ontario Tech University studying Networking and IT Security. I lived in Scarborough from birth to grade 6, which is when I moved to Oshawa and have lived here since. I love exploring, doing new things all the time, and putting myself in uncomfortable situations to better myself and challenge myself. I love playing games, driving around, collecting things, and most of all, spending time with family and friends."
                </p>
            </div>
        </div>

    </div>

</div>

<%- include('./partials/footer.ejs') %>

