      <footer>
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
          <div class="container" >

<div class="links"> <!-- socials -->
              <a href="https://github.com/ymoha3/Assignment-2" class="mx-2"> <i class="fa-brands fa-lg fa-github"></i></a> <!-- github -->
              <a href="https://www.linkedin.com/in/yusuf-mohamed-481612362/" class="mx-2"><i class="fa-brands fa-lg fa-linkedin"></i></a> <!-- linkedin -->
              <a href = "https://github.com/dashboard" class="mx-2"><i class="fa-brands fa-lg fa-github"></i></a> <!--Justyn Github-->
              <h6 class="navbar-text">&copy; Copyright 2025. All rights reserved. </h6>
        </nav>
      </footer>
    </div>
  </body>
</html>
